//META{"name":"Beard_s_Material_theme_for_Discord_Beta","description":"Beta version, here I mainly test stuff, please gimme feedback on the Theme's server at bit.ly/BMTserver.","author":"Beard_Design","version":"1.0.0"}*//{}

/*
///////////////////////////////////////
 - Beard's Material Discord Theme BETA -
- made from scratch by Beard Design -
       - beard-design.com -
///////////////////////////////////////
*/

@import url(https://rawgit.com/BeardDesign1/Material-design-theme-ressources/master/code-files/beta/beta.css);
@import url(https://rawgit.com/BeardDesign1/Material-design-theme-ressources/master/code-files/beta/notifications.css);