#app-mount .messagesWrapper-3lZDfY::before{
  content: "Beard's Material Theme has been discontinued and rebranded as Nox. Please redownload it from http://bit.ly/NoxTheme";
  position: absolute;
  display: block;
  box-sizing: border-box;
  left: 0;
  right: 0;
  background: #303030;
  color: #fff;
  padding: 20px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(240, 71, 71, .3);
  border: 3px solid #F04747;
  z-index: 10000;
}